html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  line-height: 1.5;
  display: none;
}

@media (min-width: 900px) {
  body {
    font-size: 1.0625rem;
  }
}

img {
    max-width: 100%;
}

.gatsby-highlight pre {
    max-width: min(992px, 80vw);
    overflow-x: auto;
}

a {
  color: rgba(19, 98, 174, 1);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(19, 98, 174, 0.25);
  transition: border-color 0.5s;
}

a:hover,
a:focus {
  outline: none;
  border-color: rgba(19, 98, 174, 1);
  transition: border-color 0.5s;
}

button::-moz-focus-inner {
  border: 0;
}

code {
  font-size: 15px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  padding-left: 24px;
}

tr {
  border-bottom: 1px solid #bbbbbb;
  height: 56px;
  transition: background-color 0.3s ease;
  vertical-align: top;
  line-height: 32px;
}

tbody tr:nth-child(odd) {
  background: #f9ede266;
}

thead tr {
  text-transform: capitalize;
  border-bottom: 2px solid #bbbbbb;
}

th,
td {
  font-size: 17px;
  text-align: left;
  position: relative;
  padding: 10px;
}

td a {
  border: none;
}

th:first-child,
td:first-child {
  padding-left: 16px;
}

th:last-child,
td:last-child {
  padding-left: 16px;
}

th {
  font-size: 15px;
}

a.anchor {
  border: none;
}
