.footer-link img {
  margin-right: 16px;
}

.footer-link {
  display: flex;
  color: white;
  align-items: center;
  font-weight: 700;
  border: 0;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:focus,
.footer-link:active {
  border: 0;
}

.footer-links h3 {
  margin-top: 0;
}

@media (max-width: 1000px) {
  .footer-links {
    margin-top: 30px;
  }
  .logo img {
    margin: 0 auto;
  }
}
